{% extends 'files/upload.html' %}
{% block replace %}
<CENTER>
<div class="jumbotron">
      <hr class="my-4">

  <h1 class="display-4">Hello {{ image.name }}<br></h1>
    <hr class="my-4">
  <p class="lead">This is the brain MRI scan you uploaded</p>
  <img src="{{ image.image.url }}" class="image_responsive" height="500px" width="500px">

  <p>
    {{ image.image.url }}<BR>
  </p>
  <hr class="my-4">
  <p class="lead">This is the segmented brain MRI scan</p>
<!--  <hr class="my-4">-->
  <img src="{{ segmented_image }}" class="image_responsive" height="500px" width="500px">
  <p>
    {{ segmented_image }}<BR>
  </p>
</div>
</CENTER>
{% endblock %}